# Base de données locale (SQLite)
DATABASE_URL="file:./dev.db"

# Pour la production PostgreSQL (Supabase / Neon)
# DATABASE_URL="postgresql://user:password@host:5432/db?pgbouncer=true"
# DIRECT_URL="postgresql://user:password@host:5432/db"